.start_button{
    margin:auto;
    text-align: center;
    margin-top:25%;
}

.question{
    border-radius:10px;
    color: white;
    margin: auto;
    text-align: center;
}

.question{
    border-radius:10px;
    color: white;
    margin: auto;
    text-align: center;
}

label{
    margin-top: 20px;
    margin-bottom: 20px;

}